doctype html
html(lang="en", ng-app="nodehack")
  head
    title=title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js')
    script(src='/javascripts/lib/angular-ui-router.js')
    script(src='/javascripts/nodehack.js')
  body
    ui-view